
.chomp-tile {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    text-decoration: none;
    vertical-align: middle;
    color: white;
    text-align: center;
    font-size: 1.5em;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
    box-sizing: border-box;
}